<!DOCTYPE html>
<html lang="en}}>
<head>
    <meta charset="UTF-8}}>
    <title>Python Mad Lib</title>
    <form action ={{/" method ={{POST}}>
        <p>Enter an adjective:</p>
        <p><input type ="text" name ={{adjective}}></p>
        <p>Enter a verb:</p>
        <p><input type ="text" name ={{verb}}></p>
        <p>Enter another verb:</p>
        <p><input type ="text" name ={{verb2}}></p>
        <p>Enter a noun:</p>
        <p><input type ="text" name ={{noun}}></p>
        <p>Enter an adverb:</p>
        <p><input type ="text" name ={{adverb}}></p>
        <p><input type ="submit" value ={{submit}}></p>
    </form>
</head>
<body>
</body>
</html>
